---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/nav.astro'
import Hero from '../components/hero.astro'
import BottomHero from '../components/bottomHero.astro'
---

<Layout title="SMS - server.top">
	
		<Nav/>
		<Hero />
		<BottomHero/>
		


		<p class="text-3xl">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, harum? Similique temporibus non, inventore possimus, ratione nesciunt quasi soluta voluptatum distinctio, expedita aperiam sit dolorem vel ut facere aliquid voluptatibus!
		</p>

		<p class="text-3xl">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, harum? Similique temporibus non, inventore possimus, ratione nesciunt quasi soluta voluptatum distinctio, expedita aperiam sit dolorem vel ut facere aliquid voluptatibus!
		</p>

		<p class="text-3xl">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, harum? Similique temporibus non, inventore possimus, ratione nesciunt quasi soluta voluptatum distinctio, expedita aperiam sit dolorem vel ut facere aliquid voluptatibus!
		</p>

		<p class="text-3xl">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, harum? Similique temporibus non, inventore possimus, ratione nesciunt quasi soluta voluptatum distinctio, expedita aperiam sit dolorem vel ut facere aliquid voluptatibus!
		</p>

		<p class="text-3xl">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, harum? Similique temporibus non, inventore possimus, ratione nesciunt quasi soluta voluptatum distinctio, expedita aperiam sit dolorem vel ut facere aliquid voluptatibus!
		</p>

		<p class="text-3xl">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, harum? Similique temporibus non, inventore possimus, ratione nesciunt quasi soluta voluptatum distinctio, expedita aperiam sit dolorem vel ut facere aliquid voluptatibus!
		</p>

		<p class="text-3xl">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, harum? Similique temporibus non, inventore possimus, ratione nesciunt quasi soluta voluptatum distinctio, expedita aperiam sit dolorem vel ut facere aliquid voluptatibus!
		</p>

		<p class="text-3xl">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, harum? Similique temporibus non, inventore possimus, ratione nesciunt quasi soluta voluptatum distinctio, expedita aperiam sit dolorem vel ut facere aliquid voluptatibus!
		</p>
</Layout>

