---
const cards = [
    {
        img: "/beneficios2/1.svg",
        title: "Comunicación instantánea",
        text: "Los mensajes de texto, SMS, se reciben casi inmediatamente, lo que te permite que tus mensajes publicitarios, noticias urgentes u ofertas flash lleguen a tiempo a tus contactos.",
    },
    {
        img: "/beneficios2/2.svg",
        title: "Alto índice de apertura",
        text: "Los SMS tienen una tasa de apertura del 98%, lo que significa que casi todos los mensajes que envíes serán leídos por tus clientes. Esto garantiza que tu mensaje llegue a la mayoría de los destinatarios y sea visto.",
    },
    {
        img: "/beneficios2/3.svg",
        title: "Seguimiento y análisis sencillos",
        text: "Nuestro servicio SMS ofrece estadísticas que te permiten evaluar el rendimiento de tus campañas de SMS.",
    },
    {
        img: "/beneficios2/4.svg",
        title: "Relación coste-eficacia",
        text: "En comparación con otros canales de marketing, el SMS es relativamente barato. Esto le permite llegar a muchos clientes sin invertir una gran cantidad de dinero, algo que siempre es de agradecer.",
    },
    {
        img: "/beneficios2/5.svg",
        title: "Accesibilidad",
        text: "Los mensajes de texto tienen altas tasas de visualización y acción debido a que la mayoría de las personas lleva consigo sus teléfonos móviles, lo que facilita que vean y respondan rápidamente a los mensajes, aumentando la efectividad de comunicación para publicidad, noticias urgentes u ofertas flash.",
    },
    {
        img: "/beneficios2/6.svg",
        title: "Servicio de SMS masivo MSG - server.top",
        text: "En resumen, utilizar el servicio de SMS de MSG - server.top te ayudará a mejorar la comunicación con tus clientes, aumentar la eficacia de tus campañas de marketing y, en última instancia, impulsar las ventas y el crecimiento de tu negocio.",
    },
];
---

<section id="beneficios2" class="max-w-[90%] md:max-w-[1100px] mx-auto">
    <h2 class="text-center my-14 text-2xl font-semibold">
        Beneficios inmediatos
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
        {
            cards.map((x) => {
                return (
                    <article class=" flex  flex-col shadowCards rounded-[20px] py-1 px-4 items-center min-h-[280px]">
                        <div class=" bg-grayBg p-4 rounded-full my-3">
                            <img width="40" src={x.img} alt="" />
                        </div>
                        <h3 class="text-center text-lg font-semibold text-[#000000] max-w-[20ch]">
                            {x.title}
                        </h3>
                        <p class="text-grayTexts text-center text-[13px] py-4">
                            {x.text}
                        </p>
                    </article>
                );
            })
        }
    </div>
</section>

<style>
    .shadowCards {
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    }
</style>
