<section
    id="beneficios"
    class="max-w-[90%] md:max-w-[1100px] mx-auto rounded-[20px] bgShadowBeneficios relative"
>
    <span class="absolute top-0 right-0 flex h-8 w-8">
        <span
            class="animate-ping absolute inline-flex h-full w-full rounded-full bg-blue1 opacity-75"
        ></span>
        <span
            class="relative inline-flex justify-center rounded-full h-8 w-8 p-1 bg-blue1 opacity-60"
        ></span>
    </span>
    <h3
        class="mx-auto text-center text-[22px] md:text-[26px] px-4 max-w-[34ch] text-grayTexts py-14 md:py-20"
    >
        Desarrolla tu estrategia de marketing por SMS y <strong
            class="text-blue1">aumenta tus ventas hoy mismo</strong
        >
    </h3>

    <div class="grid md:grid-cols-2 gap-10 pb-16">
        <article class="flex flex-col md:flex-row items-start gap-4 mx-auto">
            <img width="60" src="/iconAnaliza.svg" alt="" />
            <div class="flex flex-col gap-2">
                <h3 class="text-[22px] font-semibold text-blue1 max-w-[20ch]">
                    Analiza tus campañas de email
                </h3>
                <p class="text-grayTexts text-[13px] max-w-[35ch]">
                    Puedes enviar miles o cientos de miles de emails y vender.
                    Sí. Y si además los estudias, los analizas y los mejoras ¿no
                    crees que podrías vener más? El email marketing requiere de
                    análisis y estudio. MSG - server.top te dará toda la
                    información que necesites.
                </p>
                <p class="text-black font-semibold">Descubre</p>
                <ul class="text-grayTexts list-disc text-[13px]">
                    <li>Tasas de aperturas</li>
                    <li>Estadísticas geográficas</li>
                    <li>Clicks</li>
                    <li>Actividad del suscriptor</li>
                </ul>
            </div>
        </article>

        <article class="flex flex-col md:flex-row items-start gap-4 mx-auto">
            <img width="60" src="/iconAumenta.svg" alt="" />
            <div class="flex flex-col gap-2">
                <h3 class="text-[22px] font-semibold text-blue1 max-w-[20ch]">
                    Aumenta la entregabilidad de tus campañas
                </h3>
                <p class="text-grayTexts text-[13px] max-w-[35ch]">
                    No puedes aprovechar las ventajas del email marketing si los
                    emails no llegan a su destino. Por eso no solo disponemos de
                    rangos de IP propios, además utilizamos tecnologías propias
                    para mejorar de forma automática el ratio de entrega. Y
                    además dispondrás de consultores que te ayudarán a mejorar
                    la entrega de tus mailings.
                </p>
                <p class="text-black font-semibold">Descubre</p>
                <ul class="text-grayTexts list-disc text-[13px]">
                    <li>Entregabilidad autogestionada</li>
                    <li>Gestión de rebotados</li>
                </ul>
            </div>
        </article>

        <article class="flex flex-col md:flex-row items-start gap-4 mx-auto">
            <img width="60" src="/iconEntregabilidad.svg" alt="" />
            <div class="flex flex-col gap-2">
                <h3 class="text-[22px] font-semibold text-blue1 max-w-[20ch]">
                    Aumenta la entregabilidad de tus campañas
                </h3>
                <p class="text-grayTexts text-[13px] max-w-[35ch]">
                    No puedes aprovechar las ventajas del email marketing si los
                    emails no llegan a su destino. Por eso no solo disponemos de
                    rangos de IP propios, además utilizamos tecnologías propias
                    para mejorar de forma automática el ratio de entrega. Y
                    además dispondrás de consultores que te ayudarán a mejorar
                    la entrega de tus mailings.
                </p>
                <p class="text-black font-semibold">Descubre</p>
                <ul class="text-grayTexts list-disc text-[13px]">
                    <li>Entregabilidad autogestionada</li>
                    <li>Gestión de rebotados</li>
                </ul>
            </div>
        </article>

        <article class="flex flex-col md:flex-row items-start gap-4 mx-auto">
            <img width="60" src="/iconSencillo.svg" alt="" />
            <div class="flex flex-col gap-2">
                <h3 class="text-[22px] font-semibold text-blue1 max-w-[20ch]">
                    Sencillo aunque potente editor
                </h3>
                <p class="text-grayTexts text-[13px] max-w-[35ch]">
                    Prepara una newsletter efectiva en pocos minutos. El editor
                    de newsletters te acompañará para que puedas plasmar lo que
                    tienes en mente. Diseña tu email en pocos minutos, sin
                    esfuerzo. Sube imágenes, añade textos, separa en columnas.
                    Incluso puedes añadir contenido condicional.
                </p>
                <p class="text-black font-semibold">Descubre</p>
                <ul class="text-grayTexts list-disc text-[13px]">
                    <li>Contenido personalizado</li>
                    <li>Contenido condicional</li>
                    <li>Variables personalizadas</li>
                    <li>Ajuste a dispositivos</li>
                </ul>
            </div>
        </article>
    </div>
</section>

<style>
    .bgShadowBeneficios {
        -webkit-box-shadow: 10px -10px 30px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 10px -10px 30px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 10px -10px 30px 0px rgba(0, 0, 0, 0.1);
    }
</style>
