<section class="max-w-[1200px] mx-auto my-5">
    <p class="font-semibold w-[10ch]">Nuestros Productos</p>
    <div>
        <article>
            <img src="../../public/iconEmailMarketing.svg" alt="" />
            <p>Email Marketing</p>
        </article>
    </div>
</section>
