<section id="campanha" class="max-w-[90%] md:max-w-[1100px] mx-auto">
    <h2 class="text-center my-14 text-2xl font-semibold">
        ¿Cómo crear una campaña SMS?
    </h2>

    <div class="flex justify-center sm:hidden">
        <div class="mx-10">
            <article class="h-[300px] w-[2px] bg-blue1">
                <span class="relative top-0 right-0 flex h-8 w-8 -left-4">
                    <span
                        class="animate-ping absolute inline-flex h-full w-full rounded-full bg-blue1 opacity-75"
                    ></span>
                    <span
                        class="relative inline-flex justify-center rounded-full h-8 w-8 p-1 bg-blue1 text-white -left-"
                        >1</span
                    >
                </span>
            </article>

            <article class="h-[300px] w-[2px] bg-blue1">
                <span class="relative top-0 right-0 flex h-8 w-8 -left-4">
                    <span
                        class="animate-ping absolute inline-flex h-full w-full rounded-full bg-blue1 opacity-75"
                    ></span>
                    <span
                        class="relative inline-flex justify-center rounded-full h-8 w-8 p-1 bg-blue1 text-white -left-"
                        >2</span
                    >
                </span>
            </article>

            <article class="h-[300px] w-[2px] bg-blue1">
                <span class="relative top-0 right-0 flex h-8 w-8 -left-4">
                    <span
                        class="animate-ping absolute inline-flex h-full w-full rounded-full bg-blue1 opacity-75"
                    ></span>
                    <span
                        class="relative inline-flex justify-center rounded-full h-8 w-8 p-1 bg-blue1 text-white -left-"
                        >3</span
                    >
                </span>
            </article>

            <article class="h-[300px] w-[2px] bg-blue1">
                <span class="relative top-0 right-0 flex h-8 w-8 -left-4">
                    <span
                        class="animate-ping absolute inline-flex h-full w-full rounded-full bg-blue1 opacity-75"
                    ></span>
                    <span
                        class="relative inline-flex justify-center rounded-full h-8 w-8 p-1 bg-blue1 text-white -left-"
                        >4</span
                    >
                </span>
            </article>
        </div>
        <div>
            <article class="h-[300px] flex flex-col">
                <div class="h-1/3">
                    <img
                        class="h-full pt-2"
                        src="../../public/timeline/timeline1.jpg"
                        alt=""
                    />
                </div>

                <div class="mx-auto max-w-[30ch]">
                    <h3 class="text-xl font-semibold">Importa tus teléfonos</h3>
                    <p class="text-sm text-grayTexts">
                        Envío fácil y rápido, puedes pegar tu lista de números
                        de móvil o utilizar los números asociados a tus listas
                        de contactos de email. Lo que te resulte más cómodo.
                    </p>
                </div>
            </article>

            <article class="h-[300px] flex flex-col">
                <div class="h-1/3">
                    <img
                        class="h-full pt-2"
                        src="../../public/timeline/timeline2.jpg"
                        alt=""
                    />
                </div>

                <div class="mx-auto max-w-[30ch]">
                    <h3 class="text-xl font-semibold">Redacta tu SMS</h3>
                    <p class="text-sm text-grayTexts">
                        Enviar mensajes SMS es fácil y rápido. Con nuestro
                        editor, puedes agregar texto, emojis o enlaces en
                        cuestión de minutos. Además, recibirás notificaciones en
                        tiempo real si tu mensaje es demasiado largo y se
                        necesitan varios SMS, todo de manera automática.
                    </p>
                </div>
            </article>

            <article class="h-[300px] flex flex-col">
                <div class="h-1/3">
                    <img
                        class="h-full pt-2"
                        src="../../public/timeline/timeline3.webp"
                        alt=""
                    />
                </div>

                <div class="mx-auto max-w-[30ch]">
                    <h3 class="text-xl font-semibold">
                        Envía tu primer SMS masivo
                    </h3>
                    <p class="text-sm text-grayTexts">
                        Solo tienes que enviar tu campaña y tus contactos
                        comenzaran a recibir los SMS, viendo tu mensaje en sus
                        dispositivos móviles.
                    </p>
                </div>
            </article>

            <article class="h-[300px] flex flex-col">
                <div class="h-1/3">
                    <img
                        class="h-full pt-2"
                        src="../../public/timeline/timeline4.webp"
                        alt=""
                    />
                </div>

                <div class="mx-auto max-w-[30ch]">
                    <h3 class="text-xl font-semibold">
                        Analiza tus resultados
                    </h3>
                    <p class="text-sm text-grayTexts">
                        EMSG - server.top ofrece estadísticas clave de tus
                        campañas de SMS, sabrás cuántos SMS se han entregado.
                    </p>
                </div>
            </article>
        </div>
    </div>

    <section class="max-w-[1100px] mx-auto hidden md:block">
        <div class="flex justify-center">
            <div>
                <article class="h-[300px]">
                    <div class="mx-auto max-w-[30ch] pt-10">
                        <h3 class="text-xl font-semibold">
                            Importa tus teléfonos
                        </h3>
                        <p class="text-sm text-grayTexts">
                            Envío fácil y rápido, puedes pegar tu lista de
                            números de móvil o utilizar los números asociados a
                            tus listas de contactos de email. Lo que te resulte
                            más cómodo.
                        </p>
                    </div>
                </article>

                <article class="h-[300px]">
                    <img
                        class="h-[90%] mx-auto"
                        src="../../public/timeline/timeline2.jpg"
                        alt=""
                    />
                </article>

                <article class="h-[300px]">
                    <div class="mx-auto max-w-[30ch] pt-10">
                        <h3 class="text-xl font-semibold">Redacta tu SMS</h3>
                        <p class="text-sm text-grayTexts">
                            Enviar mensajes SMS es fácil y rápido. Con nuestro
                            editor, puedes agregar texto, emojis o enlaces en
                            cuestión de minutos. Además, recibirás
                            notificaciones en tiempo real si tu mensaje es
                            demasiado largo y se necesitan varios SMS, todo de
                            manera automática.
                        </p>
                    </div>
                </article>

                <article class="h-[300px]">
                    <img
                        class="h-[90%] mx-auto"
                        src="../../public/timeline/timeline4.webp"
                        alt=""
                    />
                </article>
            </div>

            <div class="mx-10">
                <article class="h-[300px] w-[2px] bg-blue1">
                    <span class="relative top-0 right-0 flex h-8 w-8 -left-4">
                        <span
                            class="animate-ping absolute inline-flex h-full w-full rounded-full bg-blue1 opacity-75"
                        ></span>
                        <span
                            class="relative inline-flex justify-center rounded-full h-8 w-8 p-1 bg-blue1 text-white -left-"
                            >1</span
                        >
                    </span>
                </article>

                <article class="h-[300px] w-[2px] bg-blue1">
                    <span class="relative top-0 right-0 flex h-8 w-8 -left-4">
                        <span
                            class="animate-ping absolute inline-flex h-full w-full rounded-full bg-blue1 opacity-75"
                        ></span>
                        <span
                            class="relative inline-flex justify-center rounded-full h-8 w-8 p-1 bg-blue1 text-white -left-"
                            >2</span
                        >
                    </span>
                </article>

                <article class="h-[300px] w-[2px] bg-blue1">
                    <span class="relative top-0 right-0 flex h-8 w-8 -left-4">
                        <span
                            class="animate-ping absolute inline-flex h-full w-full rounded-full bg-blue1 opacity-75"
                        ></span>
                        <span
                            class="relative inline-flex justify-center rounded-full h-8 w-8 p-1 bg-blue1 text-white -left-"
                            >3</span
                        >
                    </span>
                </article>

                <article class="h-[300px] w-[2px] bg-blue1">
                    <span class="relative top-0 right-0 flex h-8 w-8 -left-4">
                        <span
                            class="animate-ping absolute inline-flex h-full w-full rounded-full bg-blue1 opacity-75"
                        ></span>
                        <span
                            class="relative inline-flex justify-center rounded-full h-8 w-8 p-1 bg-blue1 text-white -left-"
                            >4</span
                        >
                    </span>
                </article>
            </div>

            <div>
                <article>
                    <article class="h-[300px]">
                        <img
                            class="h-[90%] mx-auto"
                            src="../../public/timeline/timeline1.jpg"
                            alt=""
                        />
                    </article>
                    <article class="h-[300px]">
                        <div class="mx-auto max-w-[30ch] pt-10">
                            <h3 class="text-xl font-semibold">
                                Envía tu primer SMS masivo
                            </h3>
                            <p class="text-sm text-grayTexts">
                                Solo tienes que enviar tu campaña y tus
                                contactos comenzaran a recibir los SMS, viendo
                                tu mensaje en sus dispositivos móviles.
                            </p>
                        </div>
                    </article>
                    <div class="h-[300px]">
                        <img
                            class="h-[90%] mx-auto"
                            src="../../public/timeline/timeline3.webp"
                            alt=""
                        />
                    </div>
                    <article class="h-[300px]">
                        <div class="mx-auto max-w-[30ch] pt-10">
                            <h3 class="text-xl font-semibold">
                                Analiza tus resultados
                            </h3>
                            <p class="text-sm text-grayTexts">
                                MSG - server.top ofrece estadísticas clave de
                                tus campañas de SMS, sabrás cuántos SMS se han
                                entregado.
                            </p>
                        </div>
                    </article>
                </article>
            </div>
        </div>
    </section>
</section>
