<footer class="bg-black text-white mt-20 ">
    <section class="max-w-[1200px] flex flex-col mx-auto">
       
            <div class="flex flex-col md:flex-row justify-between my-14 items-center">
                <img width="120" src="/logo.svg" alt="" />

                <ul class="flex gap-4">
                    <li>Inicio</li>
                    <li>Inicio</li>
                    <li>Inicio</li>
                </ul>

                <img width="120" src="/logo.svg" alt="" />
            </div>

            <div class="flex justify-center my-5">
                <p class="text-sm text-grayTexts max-w-[50ch] text-center">
                    Crea tus mailings, envía y disfruta de los resultados. Todo
                    de forma sencilla y con soporte cuando lo necesites.
                </p>
            </div>
  
    </section>
</footer>
