<footer class="bg-black text-white mt-20">
  <section class="max-w-[1200px] flex flex-col mx-auto">
    <div
      class="flex flex-col gap-10 md:flex-row justify-between my-14 items-center"
    >
      <a href="./">
        <img width="120" src="/logo.svg" alt="" />
      </a>

      <ul class="flex flex-col gap-10 md:flex-row text-center">
        <li class="py-1 px-3 hover:text-blue1 hover:scale-105 transition">
          <a href="#beneficios">Descubre Más</a>
        </li>
        <li class="py-1 px-3 hover:text-blue1 hover:scale-105 transition">
          <a href="#campanha">Crear Campaña</a>
        </li>
        <li class="py-1 px-3 hover:text-blue1 hover:scale-105 transition">
          <a href="#beneficios2">Beneficios</a>
        </li>
      </ul>
      <a href=""><img width="40" src="/iconWhatsapp.svg" alt="" /></a>
    </div>

    <div class="flex justify-center my-5">
      <p class="text-sm text-grayTexts max-w-[50ch] text-center">
        Crea tus mailings, envía y disfruta de los resultados. Todo de forma
        sencilla y con soporte cuando lo necesites.
      </p>
    </div>
  </section>
</footer>
