---
const items = [
    {
        img: "/iconExport.svg",
        title: "Importa tus contactos",
        text: "Tienes varias opciones para importar o subir tus contactos. Si lo necesitas incluso puedes crear campos personalizados con información adicional.",
    },
    {
        img: "/iconSend.svg",
        title: "Diseña y envía tu email",
        text: "Diseña tu email con un editor que no te pondrá piedras en el camino. Sencillo y potente con todo lo que necesitas para diseñar un email o newsletter efectivo.",
    },
    {
        img: "/iconAnalitics.svg",
        title: "Analiza y descubre",
        text: "Analiza y mide los resultados de tus campañas de email marketing para optimizarlas Descubre quien, cómo y cuando interactua con tu email.",
    },
];
---

<section
    class="bg-grayBg flex flex-col sm:flex-row gap-10 md:gap-0 items-center justify-around max-w-[90%] md:max-w-[1150px] mx-auto rounded-[100px] my-20 p-10"
>
    {
        items.map((x) => {
            return (
                <article class="flex flex-col md:flex-row gap-4">
                    <img class=" h-11" src={x.img} alt="" />
                    <div class="">
                        <h3 class="font-semibold text-lg text-center md:text-right">{x.title}</h3>
                        <p class=" w-[28ch] text-center md:text-right text-[14px]">{x.text}</p>
                        </div>
                </article>
            );
        })
    }
</section>
