---

const { image, title } = Astro.props;
---

<article
    class="flex items-center gap-4 p-2 max-w-[260px] rounded-[10px] shadowCardsSms my-5 bg-white"
>
    <div class="bg-grayBg p-2 rounded-[10px]">
        <img width="32px" src={`/${image}`} alt="" />
    </div>
    <p class="font-semibold max-w-[12ch] text-[15px]">{title}</p>
</article>

<style>
    .shadowCardsSms {
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    }
    .borderStyleSms {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #0488df;
    }
</style>
